# Ignore Mac system files
.DS_store
.Rhistory
# Ignore node_modules folder
node_modules
causal-cmd.log

# Ignore large output files
/R/.Rhistory
/output
/doc
/figs
/JSM_presentation
/literature
/data
#/data/*
# !/data/single_cell_data

# Ignore large files
.RData

# Ignore pycharm files
.idea/*
.idea/misc.xml
.Rproj.user

/python